article {
  > * {
    max-width: 37rem;
  }

  * + * {
    margin-top: 1em;
  }

  ul,
  ol,
  pre,
  blockquote,
  hr {
    * + &,
    & + * {
      margin-top: 1.5em;
    }
  }

  table,
  figure {
    * + &,
    & + * {
      margin-top: 2em;
    }
  }

  pre,
  table,
  figure {
    max-width: none;
  }

  @mixin small() {
    font-size: 0.85em;
    font-variation-settings: "opsz" 7;
    font-weight: 440;
  }

  @import "markdown";

  h2 {
    text-wrap: balance;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.05em;
    margin-top: 5em;
    margin-bottom: 2em;

    > a {
      color: inherit;
      &:not(:hover) {
        background-image: none;
      }
    }

    code {
      font-variant-caps: normal;
      letter-spacing: 0;
    }
  }

  blockquote {
    padding-left: 3em;

    > * {
      @include small();
    }
  }

  ul,
  ol {
    $list-prefix-width: 0.6em;
    $list-prefix-gutter: 1em;

    margin-left: $list-prefix-width + $list-prefix-gutter;

    > li {
      margin-top: 0;

      &::before {
        $element-width: 2em;
        position: absolute;
        width: $element-width;
        margin-left: -($element-width + $list-prefix-gutter);
        text-align: right;
      }
    }
  }

  ul > li::before {
    content: "•";
  }

  ol > li {
    counter-increment: ol;
  }

  ol > li::before {
    // Literata doesn’t have tabular oldstyle figures,
    // so we inherit proportional oldstyle figures from <body>
    // as the next-best alternative.
    content: counter(ol);
  }

  table {
    @include small();
    font-variant-numeric: tabular-nums lining-nums;

    display: block;
    overflow-x: auto;

    border-collapse: collapse;

    // gap between columns
    td + td,
    th + th {
      padding-left: 1em;
    }

    // border with space above and below
    thead > tr > th {
      border-bottom: 1px solid;
      padding-bottom: 0.5em;
    }
    tbody > :first-child > td {
      padding-top: 0.5em;
    }
  }

  sup {
    font-variant-position: super;
    > a {
      background-position: 0 65%;
    }
  }

  hr {
    border: none;
    text-align: center;

    &::before {
      content: "•   •   •";
    }
  }

  pre {
    background-color: hsb(0, 0, 99);
    @media (prefers-color-scheme: dark) {
      color: hsb($dark-fg-hue, 10, 80);
      background-color: hsb(0, 0, 10);
    }

    border-radius: 0.25rem;
    border: 1px solid hsb(0, 0, 90);
    @media (prefers-color-scheme: dark) {
      border: 1px solid hsb(0, 0, 20);
    }

    padding: 1em;
    overflow-x: auto;

    > code {
      display: block;
      font-size: 0.85em;
      line-height: 1.3;
    }

    @import "syntax";
  }

  > .footnotes {
    > ol {
      @include small();

      @media (min-width: 600px) {
        margin-left: 0;
      }

      > li + li {
        margin-top: 1em;
      }
    }
  }

  > .signature {
    text-align: right;
    margin-top: 2rem;
  }
}
