article {
  * + * {
    margin-top: 1.5em;
  }

  p + p {
    margin-top: 1em;
  }

  h2 {
    font-family: $sans;
    margin-top: 5em;
    margin-bottom: 2em;

    > a {
      color: inherit;
      &:not(:hover) {
        background-image: none;
      }
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  blockquote {
    padding-left: 3rem;
    font-size: 0.85rem;
  }

  ul,
  ol {
    $list-prefix-width: 0.6em;
    $list-prefix-gutter: 1em;

    margin-left: $list-prefix-width + $list-prefix-gutter;

    > li {
      margin-top: 0;

      &::before {
        $element-width: 2em;
        position: absolute;
        width: $element-width;
        margin-left: -($element-width + $list-prefix-gutter);
        text-align: right;
      }
    }
  }

  ul > li::before {
    content: "•";
  }

  ol > li {
    counter-increment: ol;
  }

  ol > li::before {
    font-variant-numeric: tabular-nums oldstyle-nums;
    content: counter(ol);
  }

  table {
    font-variant-numeric: tabular-nums lining-nums;

    display: block;
    overflow-x: auto;

    border-collapse: collapse;

    // gap between columns
    td + td,
    th + th {
      padding-left: 1em;
    }

    // border with space above and below
    thead > tr > th {
      border-bottom: 1px solid;
      padding-bottom: 0.5em;
    }
    tbody > :first-child > td {
      padding-top: 0.5em;
    }
  }

  sup {
    font-variant-position: super;
    > a {
      background-position: 0 65%;
    }
  }

  hr {
    border: none;
    text-align: center;

    &::before {
      content: "•   •   •";
    }
  }

  code {
    @include monospace();
  }

  pre {
    background-color: hsb(0, 0, 99);
    @media (prefers-color-scheme: dark) {
      color: hsb($dark-fg-hue, 10, 80);
      background-color: hsb(0, 0, 10);
    }

    border-radius: 0.25rem;
    border: 1px solid hsb(0, 0, 90);
    @media (prefers-color-scheme: dark) {
      border: 1px solid hsb(0, 0, 20);
    }

    padding: 1em;
    font-size: 0.9em;
    line-height: 1.3;
    overflow-x: auto;

    @import "syntax";
  }

  > .footnotes {
    > ol > li + li {
      margin-top: 1em;
    }
  }

  > .signature {
    text-align: right;
    margin-top: 2rem;
  }
}
