@font-face {
  font-family: "input-mono";
  src: url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "input-mono";
  src: url("https://use.typekit.net/af/c3093e/00000000000000007735b116/30/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "input-mono";
  src: url("https://use.typekit.net/af/62782e/00000000000000007735b12a/30/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "input-mono";
  src: url("https://use.typekit.net/af/038dc3/00000000000000007735b127/30/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "input-mono-narrow";
  src: url("https://use.typekit.net/af/2b5bd5/00000000000000007735b119/30/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "input-mono-narrow";
  src: url("https://use.typekit.net/af/41f034/00000000000000007735b11d/30/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "input-mono-narrow";
  src: url("https://use.typekit.net/af/84e6b2/00000000000000007735b12d/30/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "input-mono-narrow";
  src: url("https://use.typekit.net/af/de623c/00000000000000007735b12c/30/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "tisa";
  src: url("https://use.typekit.net/af/0ae3cf/00000000000000003b9b0785/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "tisa";
  src: url("https://use.typekit.net/af/3b914c/00000000000000003b9b0784/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "tisa";
  src: url("https://use.typekit.net/af/caf812/00000000000000003b9b0787/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "tisa";
  src: url("https://use.typekit.net/af/1035b5/00000000000000003b9b0786/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "tisa";
  src: url("https://use.typekit.net/af/8bcf67/00000000000000003b9b0789/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "tisa";
  src: url("https://use.typekit.net/af/adadd2/00000000000000003b9b0788/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/e6ca58/00000000000000003b9b0791/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/62f824/00000000000000003b9b0790/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/6f55e9/00000000000000003b9b0792/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/30ad0e/00000000000000003b9b0793/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/47d799/00000000000000003b9b0794/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/0a2d45/00000000000000003b9b0795/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/6dd34d/00000000000000003b9b0796/27/l")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "tisa-sans";
  src: url("https://use.typekit.net/af/ee7efe/00000000000000003b9b0797/27/l")
    format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
