@font-face {
  font-family: "literata";
  src: url("/fonts/literata.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 200 900;
}

@font-face {
  font-family: "literata";
  src: url("/fonts/literata-italic.woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 200 900;
}

@font-face {
  font-family: "monaspace-argon";
  src: url("/fonts/monaspace-argon.woff2");
  font-display: swap;
  font-style: oblique -11deg 0deg;
  font-weight: 200 800;
  font-stretch: 100% 125%;
}

@font-face {
  font-family: "monaspace-radon";
  src: url("/fonts/monaspace-radon.woff2");
  font-display: swap;
  font-style: oblique -11deg 0deg;
  font-weight: 200 800;
  font-stretch: 100% 125%;
}
