.post-list {
  margin-bottom: 4rem;

  > .post + .post {
    margin-top: 1.5rem;
  }

  > .post {
    > .title > a {
      color: inherit;
      &:not(:hover) {
        background-image: none;
      }
    }

    > .date {
      color: $light-faded;
      @media (prefers-color-scheme: dark) {
        color: $dark-faded;
      }
    }
  }
}
