.post-list {
  margin-bottom: 4rem;

  > .post + .post {
    margin-top: 1.5rem;
  }

  > .post {
    > .title > a {
      background-image: none;
    }

    > .date {
      @include gray();
    }
  }
}
