.post-list {
  margin-bottom: 4rem;

  > .post + .post {
    margin-top: 1.5rem;
  }

  > .post {
    > .title {
      @import "markdown";

      > a {
        color: inherit;
        &:not(:hover) {
          background-image: none;
        }
      }
    }

    > .date {
      color: $light-faded;
      @media (prefers-color-scheme: dark) {
        color: $dark-faded;
      }
    }

    &.-draft {
      opacity: 0.5;
    }
  }
}
