*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

html {
  text-size-adjust: 100%;
}

img,
video {
  display: block;
  max-width: 100%;
}
