// keywords
.keyword,
.operator,
.rule,
&.language-ini .header,
&.language-ini .punctuation {
  color: hsb(210, 100, 80);
}

// types
.class-name,
&.language-css .property,
&.language-scss .property,
&.language-ini .attr-name {
  color: hsb(230, 45, 65);
}

// numbers
.number {
  color: hsb(40, 100, 70);
}

// constants
.constant,
&.language-scss .variable {
  color: hsb(35, 100, 80);
}

// preprocessor directives
.directive,
.directive-hash,
.macro,
&.language-scss .keyword {
  color: hsb(180, 40, 50);
}

// strings
.string,
&.language-ini .attr-value {
  color: hsb(110, 45, 50);
}

// lifetimes
.lifetime-annotation {
  color: hsb(75, 100, 50);
}

// comments
.comment {
  color: hsb(120, 5, 65);
}

@media (prefers-color-scheme: dark) {
  color: hsb($dark-fg-hue, 10, 80);

  // keywords
  .keyword,
  .operator,
  .rule,
  &.language-ini .header,
  &.language-ini .punctuation {
    color: hsb(210, 30, 80);
  }

  // types
  .class-name,
  &.language-css .property,
  &.language-scss .property,
  &.language-ini .attr-name {
    color: hsb(220, 25, 65);
  }

  // numbers
  .number {
    color: hsb(40, 100, 80);
  }

  // constants
  .constant,
  &.language-scss .variable {
    color: hsb(35, 100, 100);
  }

  // functions
  .function {
    color: hsb($dark-fg-hue, 20, 100);
  }

  // preprocessor directives
  .directive,
  .directive-hash,
  .macro,
  &.language-scss .keyword {
    color: hsb(180, 40, 65);
  }

  // strings
  .string,
  &.language-ini .attr-value {
    color: hsb(110, 30, 65);
  }

  // lifetimes
  .lifetime-annotation {
    color: hsb(75, 95, 65);
  }

  // comments
  .comment {
    color: hsb(120, 5, 45);
  }
}

.comment {
  font-style: italic;
  font-feature-settings:
    // monocular a
    "ss01",
    // monocular g
    "ss02",
    // hooked i
    "ss09",
    // hooked l
    "ss10",
    // centred asterisk
    "ss11",
    // “boring” curly braces
    "ss12";
}
