// keywords
.keyword,
.operator,
.rule,
&.language-ini .header,
&.language-ini .punctuation {
	color: hsb(210, 100, 80);
}

// types
.class-name,
.builtin-type,
&.language-css .property,
&.language-scss .property,
&.language-ini .attr-name,
&.language-go .builtin {
	color: hsb(230, 45, 65);
}

// numbers
.number {
	color: hsb(40, 100, 70);
}

// constants
.constant,
.boolean,
.char,
&.language-scss .variable {
	color: hsb(35, 100, 80);
}

// preprocessor directives
.directive,
.directive-hash,
.macro,
&.language-scss .keyword {
	color: hsb(180, 40, 50);
}

// strings
.string,
&.language-ini .attr-value {
	color: hsb(110, 45, 50);
}

// builtins and lifetimes
.builtin,
.lifetime-annotation {
	color: hsb(75, 100, 50);
}

// registers
.register {
	color: hsb(190, 70, 50);
}

// comments
.comment {
	color: hsb(120, 5, 65);
}

@media (prefers-color-scheme: dark) {
	color: hsb($dark-fg-hue, 10, 80);

	// keywords
	.keyword,
	.operator,
	.rule,
	&.language-ini .header,
	&.language-ini .punctuation {
		color: hsb(210, 30, 80);
	}

	// types
	.class-name,
	.builtin-type,
	&.language-css .property,
	&.language-scss .property,
	&.language-ini .attr-name,
	&.language-go .builtin {
		color: hsb(220, 25, 65);
	}

	// numbers
	.number {
		color: hsb(40, 100, 80);
	}

	// constants
	.constant,
	.boolean,
	.char,
	&.language-scss .variable {
		color: hsb(35, 100, 100);
	}

	// functions
	.function {
		color: hsb($dark-fg-hue, 20, 100);
	}

	// preprocessor directives
	.directive,
	.directive-hash,
	.macro,
	&.language-scss .keyword {
		color: hsb(180, 40, 65);
	}

	// strings
	.string,
	&.language-ini .attr-value {
		color: hsb(110, 30, 65);
	}

	// builtins and lifetimes
	.builtin,
	.lifetime-annotation {
		color: hsb(75, 95, 65);
	}

	// registers
	.register {
		color: hsb(190, 10, 75);
	}

	// comments
	.comment {
		color: hsb(120, 5, 45);
	}
}
