// Inline and inner element of block code
code {
  font-family: $code-fonts;

  --monospace: 0.6;
  --casual: 0.5;

  --proportional-nums: 0;
  --sans-f: 1;
  --sans-i: 1;
  --sans-l: 1;
  --sans-caps: 1;
  --sans-1: 1;
  --dotted-zero: 1;
  --simplified-at: 1;

  border-radius: 5px;
  $border-color: black;

  border: 1px solid rgba($border-color, 0.1);
  background-color: hsl($hue, $light-saturation * 4, $light-lightness + 2%);
  @media (prefers-color-scheme: dark) {
    border: 1px solid rgba($border-color, 0.2);
    background-color: hsl($hue, $dark-saturation, $dark-lightness - 3%);
  }
}

// Code with the language ‘-’ is shell output, which needs to be monospaced.
.language-- {
  --monospace: 1;
  --sans-f: 0;
  --sans-i: 0;
  --sans-l: 0;
  --sans-r: 0;
  --sans-1: 0;
}

// Block code
pre > code {
  display: block;
  font-size: 0.8rem;
  line-height: 1.5;

  padding: $padding;

  // Add scrollbars if necessary.
  overflow-x: auto;
}

main > pre,
main > .highlight > pre {
  @include full-width;

  > code {
    $width: 45rem;
    max-width: $width;
    margin: {
      left: auto;
      right: auto;
    }

    @media (max-width: $width) {
      border-radius: 0;
      border: {
        left: none;
        right: none;
      }
    }
  }
}

.highlight,
pre:not(.chroma) {
  margin: {
    top: 2rem;
    bottom: 2rem;
  }
}

// Inline code
*:not(pre) > code {
  padding: {
    left: 0.2rem;
    right: 0.2rem;
  }

  // Prevent wrapping (since it’s often awkward for code to be wrapped across
  // lines), apart from when the piece of code is too long to fit on one line.
  word-break: break-word;
}
