// Inline and inner element of block code
code {
  font-family: $code-fonts;

  // Reset extra letter spacing from body since Input already has enough.
  letter-spacing: 0;
}

// Code with the language ‘-’ is shell output, which needs to be monospaced.
.language-- {
  font-family: $mono-fonts;
}

// Inline code and outer element of block code
*:not(pre) > code,
pre {
  border-radius: 5px;
  $border-color: black;

  border: 1px solid rgba($border-color, 0.1);
  background-color: hsl($light-hue, $light-saturation, $light-lightness + 2%);
  @media (prefers-color-scheme: dark) {
    border: 1px solid rgba($border-color, 0.2);
    background-color: hsl($dark-hue, $dark-saturation, $dark-lightness - 3%);
  }
}

// Block code
pre {
  font-size: 0.65rem;

  padding: 0.5rem;

  // Add scrollbars if necessary.
  overflow-x: auto;
}

.highlight,
pre:not(.chroma) {
  margin: {
    top: 2rem;
    bottom: 2rem;
  }
}

// Inline code
*:not(pre) > code {
  font-size: 0.75em;

  padding: {
    left: 0.2rem;
    right: 0.2rem;
  }

  // Prevent wrapping (since it’s often awkward for code to be wrapped across
  // lines), apart from when the piece of code is too long to fit on one line.
  word-break: break-word;
}
