@mixin font-face($font-family, $url, $style, $weight) {
  @font-face {
    font-family: $font-family;
    src: url($url) format("woff2");

    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

//
// Display
//

// Light
@include font-face(
  "meno-display",
  "https://use.typekit.net/af/f3e509/00000000000000003b9af05a/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n3&v=3",
  normal,
  300
);

// Semibold
@include font-face(
  "meno-display",
  "https://use.typekit.net/af/c39a4b/00000000000000003b9af05e/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3",
  normal,
  600
);

//
// Text
//

// Regular
@include font-face(
  "bennet-text-one",
  "https://use.typekit.net/af/15ae15/00000000000000003b9b0177/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3",
  normal,
  400
);

// Italic
@include font-face(
  "bennet-text-one",
  "https://use.typekit.net/af/a3821f/00000000000000003b9b0176/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i4&v=3",
  italic,
  400
);

// Bold
@include font-face(
  "bennet-text-one",
  "https://use.typekit.net/af/9a8935/00000000000000003b9b0178/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n6&v=3",
  normal,
  800
);

// Bold italic
@include font-face(
  "bennet-text-one",
  "https://use.typekit.net/af/9aa5d3/00000000000000003b9b0179/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=i6&v=3",
  italic,
  800
);

//
// JetBrains Mono
//

@include font-face(
  "jetbrains-mono",
  "https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2",
  normal,
  400
);
