html,
body {
  height: 100%;
}

$textblock-width: 36rem;
$padding: 1rem;

body {
  margin: {
    left: auto;
    right: auto;
  }

  max-width: $textblock-width;
  padding: $padding;

  display: flex;
  align-items: center;
}

// avoid getting cut off when screen height
// is less than element height
main {
  margin: auto;
}
