html,
body {
  width: 100%;
  height: 100%;
}

$padding: 1rem;

body {
  padding: $padding;

  display: flex;
  justify-content: center;
  align-items: center;
}

$textblock-width: 36rem;
main {
  max-width: $textblock-width;

  // avoid getting cut off when screen height
  // is less than element height
  margin: auto;
}
