a {
  // We create a linear gradient with the start and end colours the same to
  // simulate the ability to use background-size and background-position with
  // background-color.
  $underline-color: hsl($hue, $light-saturation, $light-lightness - 35%);
  background-image: linear-gradient($underline-color, $underline-color);
  @media (prefers-color-scheme: dark) {
    $underline-color: hsl($hue, $dark-saturation, $dark-lightness + 40%);
    background-image: linear-gradient($underline-color, $underline-color);
  }

  background-size: 100% 1px;
  background-position: 0 100%;

  &:active {
    opacity: 0.5;
  }
}
