// Dim links while clicked to add some feedback.
a:active {
  opacity: 0.5;
}

@mixin text-shadow($background) {
  text-shadow: 0px -1px $background, 0px 1px $background, -1px 0px $background,
    1px 0px $background, -1px -1px $background, 1px -1px $background,
    -1px 1px $background, 1px 1px $background, 0px -2px $background,
    0px 2px $background, -2px 0px $background, 2px 0px $background,
    -2px -2px $background, 2px -2px $background, -2px 2px $background,
    2px 2px $background, 0px -3px $background, 0px 3px $background,
    -3px 0px $background, 3px 0px $background, -3px -3px $background,
    3px -3px $background, -3px 3px $background, 3px 3px $background;
}

// Use a background colour to create a custom underline.
main a {
  // We create a linear gradient with the start and end colours the same to
  // simulate the ability to use background-size and background-position with
  // background-color.
  background-image: linear-gradient(currentColor, currentColor);

  background-size: 100% 1px;
  background-position: 0 95%;

  // We add a shadow to links of the page background colour to make the
  // underline avoid descenders.
  @include text-shadow(hsl($light-hue, $light-saturation, $light-lightness));
  @media (prefers-color-scheme: dark) {
    @include text-shadow(hsl($dark-hue, $dark-saturation, $dark-lightness));
  }
}

// Match colour of links’ text shadow when selected to the selection colour.
::selection {
  @include text-shadow($light-selection);

  // Selection backgrounds in dark mode have a reduced opacity, so the colour we
  // pick won’t match the actual background colour of the selection. The best
  // option here is to just disable the text shadow.
  @media (prefers-color-scheme: dark) {
    text-shadow: none;
  }
}
