// Dim links while clicked to add some feedback.
a:active {
  opacity: 0.5;
}

// Use a background colour to create a custom underline.
main a {
  // We create a linear gradient with the start and end colours the same to
  // simulate the ability to use background-size and background-position with
  // background-color.
  background-image: linear-gradient(currentColor, currentColor);

  background-size: 100% 1px;
  background-position: 0 95%;
}
