$width: 0.5em;
$gap: 1em;
$total-width: $width + $gap;

main ol,
main ul {
  margin-left: $total-width;
}

main ol li::before,
main ul li::before {
  position: absolute;
  width: $width;
  margin-left: -$total-width;
}

main ol li {
  counter-increment: ol;

  &::before {
    content: counter(ol);
    font-variant-numeric: tabular-nums oldstyle-nums;
  }
}

main ul li {
  margin-top: 0;

  &::before {
    content: "•";
  }
}
