$width: 0.5rem;
$gap: 1rem;
$total-width: $width + $gap;

@media (max-width: $total-width + $textblock-width + 2 * $padding) {
  main ol,
  main ul {
    margin-left: $total-width;
  }
}

main ol li::before,
main ul li::before {
  position: absolute;
  width: $width;
  margin-left: -$total-width;
}

main ol li {
  counter-increment: ol;

  &::before {
    content: counter(ol);
    --proportional-nums: 0;
  }
}

main ul li {
  margin-top: 0;

  &::before {
    content: "•";
  }
}
