@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

html {
  font-size: 19px;

  @media (max-width: 500px) {
    font-size: 16px;
  }
}

$dark-fg-hue: 55;

body {
  font-family: Georgia, serif;
  line-height: 1.5;
  max-width: 42rem;
  padding: 2rem;
  margin: {
    left: auto;
    right: auto;
  }

  background-color: hsb(30, 2, 95);
  color: hsb(270, 65, 25);

  @media (prefers-color-scheme: dark) {
    background-color: hsb(220, 5, 15);
    color: hsb($dark-fg-hue, 5, 90);
  }
}

body * + * {
  margin-top: 1rem;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-weight: 700;
  margin: {
    top: 4rem;
    bottom: 2rem;
  }
}
.subtitle {
  margin: {
    top: 0;
    bottom: 4rem;
  }

  color: hsb(30, 10, 55);
  @media (prefers-color-scheme: dark) {
    color: hsb($dark-fg-hue, 5, 55);
  }
}

@media (prefers-color-scheme: dark) {
  h1,
  h2 {
    color: hsb($dark-fg-hue, 5, 95);
  }
}

a {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 97%;
  background-size: 100% 1px;
}

ul,
ol {
  list-style-type: none;
  margin-left: 1.5em;
}

ul > li::before {
  content: "•";
  position: absolute;
  width: 1em;
  margin-left: -1.5em;
}

ol > li {
  counter-increment: ol;
}

ol > li::before {
  content: counter(ol) ".";
  position: absolute;
  width: 1em;
  margin-left: -1.5em;
}

ul *,
ol * {
  margin-top: 0;
}

code {
  font-family: Fira Mono, monospace;
  font-size: 0.87em;
}
pre {
  font-size: 0.82rem;
  line-height: 1.1;
  border-left: 1px solid #777;
  padding-left: 1rem;
}

.home {
  // remove link underline from home button
  > a {
    background-image: none;
  }
}

// keywords
.chroma .k,
.chroma .o {
  color: hsb(210, 100, 80);
}

// types
.chroma .kt {
  color: hsb(230, 45, 65);
}

// numbers
.chroma .mi {
  color: hsb(40, 100, 80);
}

// constants
.chroma .nb {
  color: hsb(35, 100, 80);
}

// preprocessor directives
.chroma .cp,
.chroma .cpf {
  color: hsb(180, 40, 50);
}

// strings
.chroma .s {
  color: hsb(110, 45, 50);
}

// string escapes
.chroma .se {
  color: hsb(75, 100, 60);
}

@media (prefers-color-scheme: dark) {
  .chroma {
    color: hsb($dark-fg-hue, 10, 80);
  }

  // keywords
  .chroma .k,
  .chroma .o {
    color: hsb(210, 30, 80);
  }

  // types
  .chroma .kt {
    color: hsb(220, 25, 65);
  }

  // numbers
  .chroma .mi {
    color: hsb(40, 100, 80);
  }

  // constants
  .chroma .nb {
    color: hsb(35, 100, 100);
  }

  // functions
  .chroma .nf {
    color: hsb($dark-fg-hue, 20, 100);
  }

  // preprocessor directives
  .chroma .cp,
  .chroma .cpf {
    color: hsb(180, 40, 65);
  }

  // strings
  .chroma .s {
    color: hsb(110, 30, 65);
  }

  // string escapes
  .chroma .se {
    color: hsb(75, 95, 65);
  }
}

.chroma .c1 {
  font-weight: bold;
}
