@import "reset.scss";

html {
  font-size: 16px;
  @media (max-width: 700px) {
    font-size: 14px;
  }

  color-scheme: light dark;
  scroll-behavior: smooth;
}

@mixin gray() {
  color: #888;
  @media (prefers-color-scheme: dark) {
    color: #999;
  }
}

body {
  background-color: #f8f8f8;
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
    color: #eee;
  }

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  padding: 1.5rem;
  max-width: 35rem;
  margin: {
    left: auto;
    right: auto;
  }
  overflow-y: scroll;
}

a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position-y: 100%;
  background-size: 100% 1px;

  &:active {
    opacity: 0.5;
  }
}

@mixin monospace {
  font-family: ui-monospace, SF Mono, Menlo, Consolas, monospace;
  font-size: 0.95em;
}

@import "article.scss";
@import "post-list.scss";
@import "footer.scss";
@import "page-title.scss";
@import "term.scss";
