@import "fonts";
@import "mixins";

//
// Reset
//

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
  vertical-align: baseline;
}

//
// Typography
//

html {
  font-size: 21px;

  @media print {
    font-size: 12pt;
  }
}

$system-font-stack: system-ui;
$serif-system-font-stack: "Iowan Old Style", Georgia, $system-font-stack;
$serif-font-stack: bennet-text-one, $serif-system-font-stack;
$display-serif-font-stack: meno-display, $serif-font-stack;
$system-mono-font-stack: SFMono-Regular, Consolas, Menlo, Monaco, monospace;
$mono-font-stack: fira-mono, $system-mono-font-stack;

body {
  font-family: $serif-font-stack;
  hyphens: auto;
  line-height: 1.6;
  font-variant-numeric: proportional-nums oldstyle-nums;
}

em {
  font-style: italic;
}

//
// Color
//

body {
  background-color: rgb(245, 243, 240);
  color: rgb(50, 50, 60);

  @media (prefers-color-scheme: "dark") {
    background-color: rgb(50, 50, 60);
    color:rgb(201, 198, 193);
  }
}

//
// Layout
//

body {
  margin: {
    left: auto;
    right: auto;
  }

  max-width: 32rem;
  padding: 1rem;
}

main {
  margin-top: 1em;

  * + * {
    margin-top: 1em;
  }
}

//
// Page title
//

header {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-family: $display-serif-font-stack;
  font-weight: 600;
}

//
// Headings
//

// Hyphenation looks weird for headings.
h1, h2, h3, h4, h5, h6 {
  hyphens: none;
}

// Section headers
main h1 {
  font-size: 1.3rem;
  font-weight: bold;

  margin-top: 4rem;
  margin-bottom: 2rem;
}

//
// Images
//

img {
  width: 100%; // Fit them to their surrounding container.
  display: block; // Remove small amount of space below.
}

//
// Blockquotes
//

blockquote {
  border-left: 1px solid;
  padding-left: 1rem;
}

//
// Lists
//

$width: 0.5em;
$gap: 1em;
$total-width: $width + $gap;

main ol {
  margin-left: $total-width;
}

main ol li {
  counter-increment: ol;
}

main ol li::before {
  content: counter(ol);

  font-variant-numeric: tabular-nums oldstyle-nums;

  position: absolute;
  width: $width;
  margin-left: -$total-width;
}

//
// Links
//

// Use a background colour to create a custom underline.
main a {
  @include background-color-positionable(currentColor);
  background-size: 100% 1px;
  background-position: 0 85%;
}

//
// Code
//

// Inline and inner element of block code
code {
  font-family: $mono-font-stack;
  font-size: 0.8em;
  hyphens: none;
}

// Inline code and outer element of block code
*:not(pre) > code, pre {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

// Block code
pre {
  padding: 0.5rem;

  // Without this code that doesn’t fit horizontally overflows
  overflow-x: scroll;
}

// Inline code
*:not(pre) > code {
  padding: {
    left: 0.2rem;
    right: 0.2rem;
  }

  // Prevent wrapping as it is often awkward for code.
  white-space: nowrap;
}

//
// Superscripts
//

sup {
  font-variant-position: super;

  // Adjust link underline position.
  a {
    background-position-y: 60%;
  }
}

//
// Homepage
//

.greeting {
  font-weight: 300;
  font-size: 5rem;
}

.bio {
  font-size: 1.5rem;
  hyphens: none;
}

//
// Nagivation
//

// Put items in the navigation next to each other, with one em of space between
// each other.
nav ul {
  display: flex;
}
nav ul li + li {
  margin-left: 1em;
}

// Make the navigation section less prominent
nav {
  opacity: 0.3;
  transition: opacity 250ms ease-out;

  &:hover {
    opacity: 0.7;
  }
}

// As on the homepage the navigation is below the content, rather than above it,
// we add a little space above the navigation to separate it from the content.
.homepage nav {
  padding-top: 3rem;
}
