.page-navigation {
  margin-top: 3rem;

  .hint {
    font-size: 0.8rem;
    --slant: -15;
    --cursive: 1;
  }

  .prev {
    text-align: left;
    float: left;
  }

  .next {
    text-align: right;
    float: right;
  }
}
