header {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-family: $serif-font-stack;
  font-weight: 300;
  line-height: 1.2;
}

header subtitle {
  font-family: $sans-font-stack;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.08em;
}
