// Put items in the navigation next to each other, with one em of space between
// each other.
.page-nav ul {
  display: inline-flex;
  flex-wrap: wrap;

  // We remove space on the last item instead of using li + li because, if we
  // use that wrapped items are indented due to the use of margin-left.
  li {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Make the navigation section less prominent
.page-nav {
  opacity: 0.3;
  transition: opacity 250ms ease-out;

  &:hover {
    opacity: 0.7;
  }
}

// As on the homepage the navigation is below the content, rather than above it,
// we add a little space above the navigation to separate it from the content.
.homepage .page-nav {
  padding-top: 3rem;
}
