header {
  margin-top: 10rem;
  margin-bottom: 4rem;

  @media (max-height: 30rem) {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 2.5rem;
    font-family: $display-font-stack;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  subtitle {
    display: block;

    font-style: italic;
    margin-top: 1rem;

    ul {
      li {
        display: inline;
      }

      li + li::before {
        content: "·";

        margin: {
          left: 0.5em;
          right: 0.5em;
        }
      }
    }
  }
}
