.prev-and-next {
  font-family: $sans-font-stack;
  margin-top: 3rem;

  .hint {
    font-size: 0.8rem;
    font-style: italic;
  }

  .prev {
    text-align: left;
    float: left;
  }

  .next {
    text-align: right;
    float: right;
  }
}
