*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
  vertical-align: baseline;
}

// Without this some mobile browsers (e.g. iOS Safari) will automatically scale
// font size, disrespecting our own behaviour.
body {
  text-size-adjust: 100%;
}
