hr {
  text-align: center;
  margin: {
    top: 2rem;
    bottom: 2rem;
  }

  &::before {
    // We use an em space between each interpunct for spacing
    // instead of the letter-spacing property
    // because letter-spacing adds extra space
    // on the right, making the rule off-centre.
    content: "· · ·";
  }
}
