// Put items in the navigation next to each other, with one em of space between
// each other.
.site-navigation ul {
  display: inline-flex;
  flex-wrap: wrap;

  li * {
    transition: font-variation-settings 150ms ease-out,
      font-weight 150ms ease-out;
  }

  :not(&:hover) > .current,
  li:hover {
    font-weight: 700;
    --casual: 0.5;
  }

  // We remove space on the last item instead of using li + li because, if we
  // use that wrapped items are indented due to the use of margin-left.
  li {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  // Make the navigation section less prominent
  @include faded-color;
}
