.chroma {
  // Keywords
  .bp,
  .k,
  .kc,
  .kd,
  .kn,
  .kr,
  .ow {
    color: #cd3469;
    @media (prefers-color-scheme: dark) {
      color: #5b92da;
    }

    font-weight: bold;
  }

  // Types
  .kt,
  .nb,
  .nt {
    color: #1570da;
    @media (prefers-color-scheme: dark) {
      color: #38a27a;
    }
  }

  // Function definitions
  .nf {
    color: #cc8722;
    @media (prefers-color-scheme: dark) {
      color: #57b9e4;
    }

    font-weight: bold;
  }

  // Literals
  .il,
  .l,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo {
    color: #6a64d0;
    @media (prefers-color-scheme: dark) {
      color: #a283ca;
    }
  }

  // Strings
  .s,
  .s1,
  .s2,
  .sa,
  .sb,
  .sc,
  .se,
  .sh,
  .si,
  .sr,
  .ss,
  .sx {
    color: #3d8111;
    @media (prefers-color-scheme: dark) {
      color: #d67475;
    }

    font-family: $serif-code-font-stack;
  }

  // Lifetimes
  .na {
    color: #32939a;
    @media (prefers-color-scheme: dark) {
      color: #edbc64;
    }

    font-style: italic;
    font-feature-settings: "ss01", "ss02";
  }

  // Comments
  .c,
  .c1,
  .ch,
  .cm,
  .cs,
  .sd {
    color: #00000044;
    @media (prefers-color-scheme: dark) {
      color: #ffffff55;
    }

    font-family: $serif-code-font-stack;
    font-style: italic;
  }
}
