.token.keyword,
.token.table.class-name {
  color: #7242ca;
  @media (prefers-color-scheme: dark) {
    color: #b191eb;
  }

  --casual: 1;
  --slant: -7;
  --cursive: 1;
}

.token.class-name {
  color: #3bac81;
  @media (prefers-color-scheme: dark) {
    color: #8dcfb6;
  }
}

.token.function,
.token.builtin,
.token.macro,
.token.key {
  color: #9875da;
  @media (prefers-color-scheme: dark) {
    color: #c9b6ec;
  }
}

.token.number,
.token.constant,
.token.boolean {
  color: #a78732;
  @media (prefers-color-scheme: dark) {
    color: #dbc894;
  }
}

.token.string {
  color: #b43c74;
  @media (prefers-color-scheme: dark) {
    color: #d674a2;
  }
}

.token.namespace {
  color: #4d4c91;
  @media (prefers-color-scheme: dark) {
    color: #a1a0f3;
  }
}

// Ruby’s :symbols and Rust’s 'lifetimes both get .token.symbol
.token.symbol {
  color: #6576db;
  @media (prefers-color-scheme: dark) {
    color: #7e87d6;
  }

  --cursive: 1;
}

.token.attribute {
  @include faded-color;
}

.token.comment {
  @include faded-color;

  --casual: 1;
  --slant: -10;
  --cursive: 1;
}

.token.punctuation {
  color: $light-foreground;
  @media (prefers-color-scheme: dark) {
    color: $dark-foreground;
  }
}
