.chroma {
  // Keywords
  .k,
  .kc,
  .kd,
  .kn,
  .kr,
  .bp,
  .ow {
    color: #cd3469;
    @media (prefers-color-scheme: dark) {
      color: #5b92da;
    }
  }

  // Types
  .nb,
  .nt,
  .kt {
    color: #1570da;
    @media (prefers-color-scheme: dark) {
      color: #38a27a;
    }
  }

  // Literals
  .l,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo {
    color: #6a64d0;
    @media (prefers-color-scheme: dark) {
      color: #a283ca;
    }
  }

  // Strings
  .s,
  .sa,
  .sb,
  .sc,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: #3d8111;
    @media (prefers-color-scheme: dark) {
      color: #d67475;
    }
  }

  // Comments
  .c,
  .ch,
  .cm,
  .c1,
  .cs {
    color: #00000044;
    @media (prefers-color-scheme: dark) {
      color: #ffffff55;
    }
  }
}
