html {
  font-size: 23px;

  @media print {
    font-size: 12pt;
  }
}

$system-font-stack: system-ui;

$sans-font-stack: freight-sans, $system-font-stack;

$serif-system-font-stack: "Iowan Old Style", Georgia, $system-font-stack;
$serif-font-stack: freight-text, $serif-system-font-stack;
$slab-font-stack: freight-macro, $serif-font-stack;

$system-code-font-stack: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
$code-font-stack: input-sans-narrow, $system-code-font-stack;
$serif-code-font-stack: input-serif-narrow, $code-font-stack;

body {
  font-family: $serif-font-stack;
  line-height: 1.5;
  font-variant-numeric: proportional-nums oldstyle-nums;
  letter-spacing: 0.01em;
}

em {
  font-style: italic;
}
