html {
  font-size: 23px;

  @media print {
    font-size: 12pt;
  }
}

$sans-fonts: freight-sans, Seravek, ui-sans-serif, system-ui;

$serif-fonts: freight-text, ui-serif, Iowan Old Style, Georgia, serif;
$display-fonts: freight-display, $serif-fonts;

$code-fonts: input-sans-narrow, ui-monospace, SFMono-Regular, Menlo, Monaco,
  Consolas, monospace;
$mono-fonts: input-mono-narrow, $code-fonts;
$serif-code-fonts: input-serif-narrow, $code-fonts;

body {
  font-family: $serif-fonts;
  line-height: 1.5;
  font-variant-numeric: proportional-nums oldstyle-nums;
  letter-spacing: 0.01em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
