html {
  font-size: 20px;

  font-weight: 400;
  @media (prefers-color-scheme: dark) {
    font-weight: 350;
  }

  @media print {
    font-size: 12pt;
  }
}

html {
  --proportional-nums: 1;
  --monocular-a: 0;
  --monocular-g: 0;
  --sans-f: 0;
  --sans-i: 0;
  --sans-l: 0;
  --sans-r: 0;
  --simplified-italics: 0;
  --sans-caps: 0;
  --simplified-nums: 0;
  --dotted-zero: 0;
  --sans-1: 0;
  --simplified-at: 0;

  --monospace: 0;
  --casual: 0.2;
  --slant: 0;
  --cursive: 0;
}

*,
::before,
::after {
  font-feature-settings: "pnum" var(--proportional-nums),
    "ss01" var(--monocular-a), "ss02" var(--monocular-g), "ss03" var(--sans-f),
    "ss04" var(--sans-i), "ss05" var(--sans-l), "ss06" var(--sans-r),
    "ss07" var(--simplified-italics), "ss08" var(--sans-caps),
    "ss09" var(--simplified-nums), "ss10" var(--dotted-zero),
    "ss11" var(--sans-1), "ss12" var(--simplified-at);

  font-variation-settings: "MONO" var(--monospace), "CASL" var(--casual),
    "slnt" var(--slant), "CRSV" var(--cursive);
}

$sans-fonts: "Recursive", ui-sans-serif, system-ui;
$code-fonts: "Recursive", ui-monospace, "SF Mono", "SFMono-Regular", "Menlo",
  "Consolas", "DejaVu Sans Mono", monospace;

body {
  font-family: $sans-fonts;
  line-height: 1.7;
}

em {
  --slant: -15;
  --cursive: 1;
}

strong {
  font-weight: 700;
}
