{{ define "body" }}
  {{ partial "nav" . }}

  <header>
    <h1>{{ .Title }}</h1>

    <subtitle>
      <ul>
        <li>{{ .Date.Format "2 January 2006" }}</li>
        <li>{{ .WordCount }} words</li>

        {{ $readingTime := math.Round (div .WordCount 200.0) }}
        <li>{{ partial "humanNumber" (dict "n" $readingTime) }} minute read</li>
      </ul>
    </subtitle>
  </header>

  <main>{{ .Content }}</main>

  <nav class="prev-and-next">
    {{ with .PrevInSection }}
      <div class="prev">
        <p class="hint">Previously</p>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>
    {{ end }}
    {{ with .NextInSection }}
      <div class="next">
        <p class="hint">Next up</p>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>
    {{ end }}

    <div style="clear: both"></div>
  </nav>
{{ end }}
