<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS | fingerprint }}

{{ with .OutputFormats.Get "RSS" }}
  <link
    href="{{ .Permalink }}"
    rel="alternate"
    type="application/rss+xml"
    title="{{ $.Site.Title }}">
  <link
    href="{{ .Permalink }}"
    rel="feed"
    type="application/rss+xml"
    title="{{ $.Site.Title }}">
{{ end }}

<link rel="stylesheet"
      href="{{ $styles.Permalink }}"
      integrity="{{ $styles.Data.Integrity }}">
