<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ .Title | markdownify | plainify }} · {{ .Site.Title }}</title>

{{ $mainStyles := resources.Get "scss/main.scss" | toCSS | postCSS | fingerprint }}
<link
  rel="stylesheet"
  href="{{ $mainStyles.Permalink }}"
  integrity="{{ $mainStyles.Data.Integrity }}"
/>

<script src="https://unpkg.com/prismjs@1.25.0/components/prism-core.min.js"></script>
<script src="https://unpkg.com/prismjs@1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>

{{ $addAnchors := resources.Get "js/addAnchors.js" | fingerprint }}
<script
  src="{{ $addAnchors.Permalink }}"
  integrity="{{ $addAnchors.Data.Integrity }}"
></script>
