{{ $n := "" }}

{{ if eq .n 1.0 }}
  {{ $n = "one" }}
  {{ else if eq .n 2.0 }}
  {{ $n = "two" }}
  {{ else if eq .n 3.0 }}
  {{ $n = "three" }}
  {{ else if eq .n 4.0 }}
  {{ $n = "four" }}
  {{ else if eq .n 5.0 }}
  {{ $n = "five" }}
  {{ else if eq .n 6.0 }}
  {{ $n = "six" }}
  {{ else if eq .n 7.0 }}
  {{ $n = "seven" }}
  {{ else if eq .n 8.0 }}
  {{ $n = "eight" }}
  {{ else if eq .n 9.0 }}
  {{ $n = "nine" }}
  {{ else if eq .n 10.0 }}
  {{ $n = "ten" }}
  {{ else if eq .n 11.0 }}
  {{ $n = "eleven" }}
  {{ else if eq .n 12.0 }}
  {{ $n = "twelve" }}
  {{ else }}
  {{ $n = .n }}
{{ end }}

{{ return $n }}
