<nav class="page-nav">
  <ul>
    {{ range .Site.Menus.main }}
      {{ $class := cond (eq .Page.Section $.Section) "current" "" }}

      <li class="{{ $class }}">
        <a href="{{ .URL }}">{{ .Title }}</a>
      </li>
    {{ end }}

    {{ with .OutputFormats.Get "rss" }}
      <li>
        <a
          rel="{{ .Rel }}"
          type="{{ .MediaType.Type }}"
          href="{{ .Permalink }}"
          title="{{ $.Site.Title }}"
          >RSS Feed</a
        >
      </li>
    {{ end }}
  </ul>
</nav>
