{{ define "body" }}
  <header class="header-area homepage">
    <div class="avatar"><img src="/img/avatar.jpeg" /></div>

    <strong class="name">Luna Razzaghipour</strong>

    <ul class="info">
      <li>she/her</li>
      <li>@arzg <a href="https://github.com/arzg">on GitHub</a></li>
    </ul>

    <main class="bio">
      I’m a student living in Sydney, Australia. I&nbsplike programming in
      <a href="https://rust-lang.org">Rust</a> and typography.
    </main>
  </header>

  {{ partial "site-navigation" . }}
{{ end }}
