{{ define "body" }}
  <main>
    <div class="avatar"><img src="/img/avatar.jpeg" /></div>

    <p class="name">Luna Razzaghipour</p>

    <ul class="info">
      <li>she/her</li>
      <li>@arzg <a href="https://github.com/arzg">on GitHub</a></li>
    </ul>

    <p class="bio">
      I’m a student living in Sydney, Australia. I&nbsplike programming in
      <a href="https://rust-lang.org">Rust</a> and typography.
    </p>

    <p>
      Are you looking for the Make A Language tutorial series? They’re
      <a href="https://arzg.github.io/lang">over there</a> now!
    </p>
  </main>
{{ end }}
