{{ $name := .Get "name" }}
{{ $lightResource := .Page.Resources.GetMatch (printf "%s-light.*" $name) }}
{{ $darkResource := .Page.Resources.GetMatch (printf "%s-dark.*" $name) }}

{{ $classList := slice }}
{{ if .Get "small" }}
	{{ $classList = $classList | append "small" }}
{{ end }}
<figure class="{{ delimit $classList " " }}">
	<picture>
		<source
			srcset="{{ $darkResource.Permalink }}"
			media="(prefers-color-scheme: dark)"
		/>
		<img
			src="{{ $lightResource.Permalink }}"
			width="{{ div $lightResource.Width 2 }}"
		/>
	</picture>
	<figcaption>{{ .Get "caption" | markdownify }}</figcaption>
</figure>
